/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
/* ********** */
/* Global Styles */
/* ********** */

/* Helper Classes */
.d-none {
  display: none !important;
}

.tac {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: EB Garamond, sans-serif;
  font-weight: normal;
}
p {
  font-family: Nanum Gothic, sans-serif;
  font-size: 1.2em;
}

input,
button {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 1.2em;
}
button {
  background-color: #e5f5ff70;
}
input {
  border-left: none !important;
  border-right: none !important;
  padding: 10px;
}

hr {
  margin: 15px;
}

/* Error Divs*/
[id*="error"] {
  font-family: Nanum Gothic, sans-serif;
  font-weight: bold;
  background-color: rgb(255, 255, 173);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

/* ********** */
/* Scrollbar Settings */
/* ********** */

/* Firefox */
#chat-room-messages,
.txta {
  scrollbar-width: thin;
  scrollbar-color: black white;
}
/* Webkit */
#chat-room-messages::-webkit-scrollbar,
.txta::-webkit-scrollbar {
  width: 5px;
}
#chat-room-messages::-webkit-scrollbar-thumb,
.txta::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 6px;
}
#chat-room-messages::-webkit-scrollbar-track,
.txta::-webkit-scrollbar-track {
  background: white;
}
/* ********** */
/* END Scrollbar Settings */
/* ********** */

/* Hide Num-Input Spinner */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* ********** */
/* END Global Styles */
/* ********** */

/* Wraps everything within body */
#content {
  min-height: 100%;
  max-width: 600px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Welcome, Set Name, Join/Create Room, Overlay */
.main-section {
  display: flex;
  flex-direction: column;
}

#set-name-ui,
#join-create-ui {
  display: flex;
  flex-direction: column;
}

/* ********** */
/* Room List */
/* ********** */
.room-list-li {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: arial;
  background: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

#room-list-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background: rgba(4, 4, 4, 0.84);
  width: 100%;
  height: 100%;
}
#room-list-overlay-header {
  text-align: center;
  color: white;
}
#room-list-overlay-room-num {
  font-weight: bold;
}
#room-list-overlay-cancel,
#room-list-overlay-join {
  background-color: #e5f5ff;
  padding: 10px;
}
/* ********** */
/* END Room List */
/* ********** */

/* ********** */
/* Chat Room */
/* ********** */
/* Note: ID #chat-room-msg-input is currently not in use
for styling. Class .txta is set on the element, and
used currently, due to how it was setup in the 
textarea resizing script initially. */

#chat-room-ui {
  width: 100%;
}
#chat-room-users {
  font-size: 1.2em;
  font-family: EB Garamond;
}
#chat-room-messages {
  background-color: #fff;
  word-wrap: break-word;
  height: 50vh;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}
/* Message wrapper, name, and text */
.chat-msg {
  margin: 5px;
}
.chat-msg-name {
  font-weight: bold;
}
.chat-msg-txt {
  font-family: sans-serif;
  white-space: pre-wrap;
}

/* 
  ID: #chat-room-msg-input on same textarea
  Update script if changing .txta name below
  .txta is currently applied to our shadow
  DOM element for auto-resizing purposes
*/
.txta {
  padding: 10px;
  font-family: sans-serif;
  line-height: 1.2;
  font-size: 1.2em;
  min-height: 47px;
  width: 100%;
  max-height: 125px;
  border-radius: 5px;
  border: 2px solid black;
  overflow-x: hidden;
  overflow-y: scroll;
  resize: none;
  border-left: none;
  border-right: none;
}
#send-msg-btn {
  width: 50%;
  bottom: 0;
  right: 3px;
  margin: 0;
  padding: 3px 10px;
  float: right;
  border-top: none;
  margin-top: -3px;
}

/* ********** */
/* END Chat Room */
/* ********** */

/* Overlay that appears on connection loss */
#no-conn-overlay {
  z-index: 5;
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
