/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e5edff;
}

/* Global Styles */
input,
button,
textarea {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid darkgray;
}

hr {
  margin: 15px;
}
/* END Global Styles */

/* Helper Classes */
.d-none {
  display: none !important;
}

/* Will apply to anything with error in the ID */
[id*="error"] {
  margin: 10px;
  background-color: yellow;
  padding: 5px;
}

/* Welcome, Set Name, Join/Create Room, Overlay */
.main-section {
  display: flex;
  flex-direction: column;
}

#content {
  max-width: 600px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#set-name-ui,
#join-create-ui {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

/* Chat Room */
#chat-room-ui {
  width: 100%;
}
#chat-room-messages {
  display: flex;
  word-wrap: break-word;
  flex-direction: column-reverse;
  height: 50vh;
  border: 2px solid darkgray;
  border-radius: 10px;
  overflow-y: scroll;
  background-color: #fff;
}

/* Scrollbar Settings */

/* Firefox */
#chat-room-messages,
#chat-room-msg-input {
  scrollbar-width: thin;
  scrollbar-color: black white;
}
/* Webkit */
#chat-room-messages::-webkit-scrollbar,
#chat-room-msg-input::-webkit-scrollbar {
  width: 5px;
}
#chat-room-messages::-webkit-scrollbar-track,
#chat-room-msg-input::-webkit-scrollbar-track {
  background: white;
}
#chat-room-messages::-webkit-scrollbar-thumb,
#chat-room-msg-input::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 6px;
}

/* Class for resizeTextarea script */
/* Attached to chat-ui message textarea */
.txta {
  font-family: sans-serif;
  overflow: hidden;
  line-height: 1.4;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid darkgray;
  min-height: 36px;
  width: 100%;
  overflow-y: scroll;
  max-height: 125px;
  resize: none;
}

.chat-msg {
  margin: 5px;
}
.chat-msg-name {
  font-weight: bold;
}
.chat-msg-txt {
  font-family: sans-serif;
  white-space: pre-wrap;
}
/* END Chat Room */

#no-conn-overlay {
  z-index: 5;
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide Num-Input Spinner */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
